<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Home Page - my blog</title>
        {% endif %}
    </head>
    <body style="background-color: midnightblue;">
        {% block content %}
        {% endblock %}
    </body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul style ="background-color: coral;">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

</html>

