{% extends "base.html" %}

{% block content %}
<style>
h1 {
    text-align: center;
    font-size: 125px;
    color: white;
}

div {
    text-align: center;
    background-color: lightgray;
    border: solid;
    font-size: 30px;
    width: 30%;
    left: 35%;
    top: 30%;
    position: absolute;
}


</style>
<h1> Priority Queue</h1>
<div>
    <h2>Sign In</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p> {{ form.submit() }} </p>
    </form>
</div>
{% endblock %}
