{% extends "base.html" %}

{% block content %}
<style>
  h1 {
    color: white;
  }

  div {
    color: white
  }

  .logout {
    background-color: lightgray;
    color: black;
    font-size: 18px;
    padding: 15px 35px;
    border: solid black;
  }


  .buttons {
    width: 200px;
    margin: 0 auto;
    display: inline;
  }


  .action_btn {
    width: 200px;
    margin: 0 auto;
    display: inline;
  }



  .White {
    background-color: white;
  }

  .Gray {
    background-color: gray;
  }

  .Orange {
    background-color: orange;
  }

  .Pink {
    background-color: pink;
  }
</style>

<h1>
  PLACEHOLDER FOR NOTES
</h1>

<p><a href="{{ url_for('logout') }}" class="logout">Log Out</a></p>

<div class="buttons">
  <div class="action_btn">
    <button name="submit" class="action_btn create" type="submit" value="Create" onclick="create_note()">Create
      Note</button>
    <button name="submit" class="action_btn delete" type="submit" value="Delete" onclick="delete_note()">Delete
      Note</button>

    <p id="saved"></p>
  </div>
</div>

{% if not notes %}
<div> There are no notes to delete! </div>
{% endif %}



<form action="" method="post" novalidate>
  {{ colorForm.hidden_tag() }}

  {{ colorForm.noteColor }}

  {{ colorForm.submit }}
</form>

<p class={{color}}> DSFDSFdsf</p>


{% endblock %}
