{% extends "base.html" %}

{% block content %}
<style>
  h1 {
    color: white;
  }

  div {
    color: white
  }

  .logout {
    background-color: lightgray;
    color: black;
    font-size: 18px;
    padding: 15px 35px;
    border: solid black;
  }


  .buttons {
    width: 200px;
    margin: 0 auto;
    display: inline;
  }


  .action_btn {
    width: 200px;
    margin: 0 auto;
    display: inline;
  }



  .White {
    background-color: white;
  }

  .Gray {
    background-color: gray;
  }

  .Orange {
    background-color: orange;
  }

  .Pink {
    background-color: pink;
  }
</style>

<h1>
  Home
</h1>

<p><a href="{{ url_for('logout') }}" class="logout">Log Out</a></p>

<div class="buttons">
  <div class="action_btn">
    <button><a href="{{ url_for('create_note') }}" class="create_note">Create Note</a></button>
    <button name="submit" class="action_btn delete" type="submit" value="Delete" onclick="delete_note()">Delete
      Note</button>

    <p id="saved"></p>
  </div>
</div>


<form action="" method="post" novalidate>
  {{ colorForm.hidden_tag() }}

  {{ colorForm.noteID.label }}
  {{ colorForm.noteID(size=2) }}

  {{ colorForm.noteColor }}

  {{ colorForm.submit }}
</form>

<p class={{color}}> DSFDSFdsf</p>


{% if not usernotes %}
  <div> There are no notes to delete! </div>
{% else %}

  {% for note in usernotes %}
  {% if note.user_id == current_user.id %}   
  <div class = {{note.color}}> 
     <p> {{ note.id }} : {{ note.body }}</p>
     <p> {{ note.timestamp }} </p>
  </div>
  {% endif %}
  {% endfor %}

{% endif %}


{% endblock %}
