{% extends "base.html" %}

{% block content %}
<style>
    h1 {
        text-align: center;
        font-size: 90px;
        color: white;
    }

    div {
        text-align: left;
        background-color: lightsteelblue;
        border: solid;
        font-size: 30px;
        width: 30%;
        left: 35%;
        top: 30%;
        position: absolute;
    }

    .button {
        background-color: lightgray;
        color: black;
        font-size: 16px;
        padding: 20px 40px;
        border: solid black;
    }

</style>

<h1>Edit Task</h1>
<div>
    <h2>Delete Task</h2>
    <p><a href="{{ url_for('deletetask') }}" class="button">Delete Task</a></p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.content.label }}<br>
            {{ form.content(size=32) }}
        </p>
        <p> {{ form.submit() }} </p>
    </form>
</div>



<!-- Adding this here to test the logout function. Should be removed or moved elsewhere later -->
<p><a href="{{ url_for('logout') }}" class="button">Log Out</a></p>

<p><a href="{{ url_for('view_note') }}" class="button">Back to Notes</a></p>

<p><a href="{{ url_for('clear_tasks', id=id) }}" class="button">Clear All Tasks</a></p>

{% for task in tasks %}
   <p> {{ task.content }}</p>
   <p><a href="{{ url_for('copy_tasks', id=id) }}" >Copy Task</a></p>

{% endfor %}

{% endblock %}
