{% extends "base.html" %}

{% block content %}
<style>
    h1 {
        text-align: center;
        font-size: 90px;
        color: white;
    }

    div {
        text-align: left;
        background-color: lightsteelblue;
        border: solid;
        font-size: 30px;
        width: 30%;
        left: 35%;
        top: 30%;
        position: absolute;
    }

    .button {
        background-color: lightgray;
        color: black;
        font-size: 16px;
        padding: 20px 40px;
        border: solid black;
    }
</style>

<h1>Edit Task</h1>
<div>
    <h2>Delete Task</h2>
    <p><a href="{{ url_for('deletetask') }}" class="button">Delete Task</a></p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.content.label }}<br>
            {{ form.content(size=32) }}
        </p>
        <p> {{ form.submit() }} </p>
    </form>
</div>


<!-- Redirects back to Notes -->
<p><a href="{{ url_for('create_note') }}" class="create_note">Back</a></p>

{% endblock %}
